@charset "utf-8";
@use "../global" as *;

$useCode: false;
@if $useCode {}
// @include mq(pc) {}
// @include mq(sp) {}
// @media only screen and (max-width: 1200px)
// @include mq(hover) {}
// background: rgba(0,0,0,0.1);


/* ============================================
// 法人案内
// ==========================================*/
.lower-company {

  .company {
    padding-bottom: 80px;
    @media only screen and (max-width: 1200px) {
      padding-bottom: 40px;
    }
    @include mq(sp) {
      padding-bottom: 12px;
    }
    &__commonHead01 {
      text-align: center;

      .ja {
        font-size: 4.4rem;
        line-height: 1.2;
        font-weight: 400;
        @include mq(sp) {
          font-size: 2.8rem;
        }

        &::first-letter {
          color: $secondary-color;
        }
      }
      .eng {
        font-family: $opensans;
        font-size: 1.6rem;
        @include mq(sp) {
          font-size: 1.5rem;
        }
      }
    }
  }

  // 友朋会ご挨拶
  .sec__intro {
    position: relative;
    padding-bottom: 100px;
    @include mq(sp) {
      padding-bottom: 88px;
    }

    // 背景画像
    &::before {
      content: '';
      display: inline-block;
      background-image: url(../img/company/intro_bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 999px;
      height: 691px;
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.2;
      z-index: -1;
      pointer-events: none;
      @include mq(sp) {
        transform: scale(0.35);
        transform-origin: bottom right;
      }
    }

    .intro {
      &__inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        @include mq(sp) {
          display: block;
        }
      }
      &__head {
        flex: 0 0 31%;
        @include mq(sp) {
          position: relative;
          padding-bottom: 16px;
        }
        // 水色背景
        &::before {
          @include mq(sp) {
            content: '';
            display: inline-block;
            width: 200vw;
            height: calc(100% - 80px);
            background-color: $bg-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }
        }

        .ttl {
          img {
            margin-right: auto;
            margin-left: 30%;
            @include mq(sp) {
              margin: 0 auto;
              height: 160px;
            }
          }
        }
      }
      &__body {
        flex: 1 1 auto;
        @include mq(sp) {
          margin-top: 40px;
        }

        .txt {
          &.-bold {
            font-size: 2.2rem;
            font-weight: bold;
            @media only screen and (max-width: 1200px) {
              font-size: 2rem;
            }
            @include mq(sp) {
              font-size: 1.8rem;
            }
          }
          &.-blue {
            font-size: 2rem;
            color: #22aadd;
            @include family(serif1);
            margin-top: 24px;
            @include mq(sp) {
              margin-top: 20px;
              font-size: 1.7rem;
            }

            br {
              @media only screen and (max-width: 1200px) {
                display: none;
              }
            }
          }
          &.-min {
            margin-top: 32px;
            text-shadow: 1px 1px 8px #FFF, -1px -1px 8px #FFF,
              -1px 1px 8px #FFF, 1px -1px 8px #FFF,
              0px 1px 8px #FFF,  0 -1px 8px #FFF,
              -1px 0 8px #FFF, 1px 0 8px #FFF;
            @include mq(sp) {
              margin-top: 20px;
            }
          }
        }
        .name {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 40px;
          @include mq(sp) {
            margin-top: 28px;
          }

          .img {
            margin-left: 20px;

            img {
              @include mq(sp) {
                height: 26px;
              }
            }
          }
        }
      }
    }
  }

  // 法人理念
  .sec__philosophy {
    background-color: $bg-color;
    padding: 100px 0 120px;
    @include mq(sp) {
      padding: 50px 0 60px;
    }

    .philosophy {
      &__inner {

      }
      &__head {

      }
      &__body {
        .text {
          @include family(serif1);
          font-size: 3.4rem;
          text-align: center;
          font-weight: 400;
          margin-top: 40px;
          @include mq(sp) {
            font-size: 2.2rem;
            margin-top: 24px;
            line-height: 1.6;
          }
        }
      }

      &__list {
        margin-top: 64px;
        @include mq(sp) {
          margin-top: 52px;
        }

        &__item {
          background-color: #fff;
          padding: 56px 40px 48px;
          border-radius: 30px;
          position: relative;
          max-width: 1000px;
          margin: 0 auto;
          margin-top: 72px;
          @include mq(sp) {
            padding: 84px 8% 28px;
            border-radius: 20px;
          }

          &:first-child {
            margin-top: 0;
          }

          .img {
            @include keepAspect(100%);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 10px solid #fff;
            position: absolute;
            top: -40px;
            left: 6.4%;
            @include mq(sp) {
              width: 100px;
              height: 100px;
              border: 6px solid #fff;
              top: -32px;
            }

            img {
              border-radius: 50%;
            }
          }
          .eng {
            font-family: $opensans;
            color: #22aadd;
            font-size: 3rem;
            position: absolute;
            top: 0;
            right: 6.4%;
            transform: translateY(-50%);
            font-weight: 300;
            @include mq(sp) {
              font-size: 2rem;
              line-height: 1.4;
              transform: translateY(0);
              top: -16px;
            }
          }
          .body {
            text-align: center;

            .term {
              font-size: 2.2rem;
              font-weight: bold;
              line-height: 1.6;
              @include mq(sp) {
                font-size: 1.8rem;
              }
            }
            .dot {
              &__item {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #222;
                display: inline-block;

                &:nth-child(2) {
                  background-color: $secondary-color;
                }
              }
            }
            .desc {
              font-size: 1.6rem;
              margin-top: 8px;
              @include mq(sp) {
                font-size: 1.5rem;
                text-align: left;
              }

              &.u-tabOnly {
                @media only screen and (min-width: 1200px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // 法人概要
  .sec__profile {
    padding-top: 100px;
    @include mq(sp) {
      padding-top: 56px;
    }

    .profile {
      &__inner {

      }
      &__head {

      }
      &__body {
        margin-top: 32px;
        @include mq(sp) {
          margin-top: 0;
        }

        .profileList {
          max-width: 800px;
          margin: 0 auto;

          &__item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px 4%;
            @include mq(sp) {
              display: block;
              padding: 14px 5%;
            }

            // 偶数
            &:nth-child(even) {
              background-color: $bg-color;
            }

            .term {
              flex: 0 0 220px;
              padding-right: 20px;
              font-weight: bold;
              font-size: 1.6rem;
              @include mq(sp) {
                font-size: 1.5rem;
                line-height: 1.6;
              }
            }
            .desc {
              flex: 1 1 auto;
              font-size: 1.6rem;
              @include mq(sp) {
                font-size: 1.5rem;
                margin-top: 4px;
              }
            }
            .map {
              font-weight: bold;
              color: #22aadd;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              // アイコン location
              &::before {
                content: '';
                display: inline-block;
                background-image: url(../img/company/ico_location.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
              }
            }
          }
        }
        .profileBlock {
          max-width: 1000px;
          margin: 0 auto;
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          flex-wrap: wrap;
          margin: 32px auto -16px;
          @include mq(sp) {
            display: block;
            margin: auto;
            margin-top: 24px;
          }

          &__item {
            flex: 0 0 48%;
            margin: 16px 0;
            background-color: $bg-color;
            padding: 32px;
            padding-bottom: 40px;
            border-radius: 30px;
            @include mq(sp) {
              padding: 24px;
              border-radius: 20px;
            }
            &:nth-child(2n+1) {
              @include mq(pc) {
                margin-right: 4%;
              }
            }

            .term {
              font-size: 1.8rem;
              font-weight: bold;
              line-height: 1.6;
              @media only screen and (max-width: 1200px) {
                font-size: 1.7rem;
              }
              @include mq(sp) {
                font-size: 1.6rem;
              }
            }
            .btnWrap {
              margin-top: 12px;
              @include mq(sp) {
                margin-top: 8px;
              }
              a {
                padding: 1.2em 2em;
              }
              .text {
                line-height: 1.6;
                padding-right: 16px;
              }
            }
          }
        }
      }
    }
  }

  // 沿革
  .sec__history {
    margin-top: 120px;
    @include mq(sp) {
      margin-top: 56px;
    }

    .separateImgs {
      height: 306px;
      @include mq(sp) {
        height: 153px;
      }

      &__list {
        align-items: stretch !important;

        &__item {
          display: flex !important;
          flex-direction: column;
          justify-content: space-between;
          flex: 0 0 460px !important;
          max-width: 460px;
          @media screen and (max-width: 767px) {
            flex: 0 0 230px !important;
            max-width: 230px;
          }
        }
      }
    }

    .history {
      &__inner {

      }
      &__head {

      }
      &__body {
        margin-top: 32px;
        @include mq(sp) {
          margin-top: 12px;
        }
      }

      &__wrap {
        max-width: 1100px;
        margin: 0 auto;
        box-shadow: 0px 0px 40px -28px #777777;
        padding: 112px 7.2% 56px;
        border-top: 4px solid #22aadd;
        margin-top: -90px;
        background-color: #fff;
        @include mq(sp) {
          margin-top: -48px;
          padding: 48px 7.2% 28px;
        }
      }
      &__list {
        &__item {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          border-bottom: 1px solid #e5e5e5;
          padding: 20px 3.2%;
          @include mq(sp) {
            display: block;
            padding: 16px 3.2%;
          }

          &:last-child {
            border-bottom: none;
          }

          .date {
            flex: 0 0 230px;
            padding-right: 20px;
            font-weight: bold;
            color: #22aadd;
          }
          .desc {

          }
        }
      }
    }
  }

}
