// Foundation
@use '../foundation/mixins' as *;
// @include mq(sp)
// @media screen and (max-width: 1200px)

/* ============================================
// FOOTER
// ==========================================*/
.footer{

}


/* ============================================
// PAGETOP
// ==========================================*/
.pagetop {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.6s, transform 0.6s;
  @include mq(sp) {
    right: 12px;
    bottom: 12px;
  }

  a {
    display: block;
    transition: transform 0.3s;
    @include mq(pc) {
      &:hover {
        transform: translateY(-8px);
      }
    }
    img {
      @include mq(sp) {
        height: 76px;
      }
    }
  }
}
.js-loaded {
  &.js-scroll {
    .pagetop {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
