// Foundation
@use '../foundation/mixins' as *;
// @include mq(sp)
// @media screen and (max-width: 1200px)

/* ============================================
// HEADER
// ==========================================*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90;
  transition: top 0.4s;
  background-color: #fff;


}
