// Foundation
@use '../foundation/mixins' as *;
// @include mq(sp)
// @media screen and (max-width: 1200px)

/* ============================================
// INDEX
// ==========================================*/

.front-page {



  /* タブ */
  .tab-group{
    display: flex;

    li {
      margin-left: 2rem;
    }

    .tab{
      text-align: center;
      padding: 1rem 2rem;
      cursor: pointer;
      white-space:nowrap;

      &.is-active {
        background-color: #333;
        color: #fff;
        border-radius: 20px;
      }
    }
  }
  /* パネル */
  .panel{
    display: none;

    &.is-show {
      display: block;
    }

    ul {
      li {
        border-bottom: 1px solid #eaeaea;
        padding: 2rem 0;
        position: relative;
        &:first-child {
          border-top: 1px solid #c3c3c3;

        }
      }
    }

    .panel-date{
      padding-left: 18px;
      vertical-align: middle;
      display:inline-block;
    }
    .panel-ttl{
      font-size: 1.6rem;
      color: #3d3d3d;
      padding-left: 2rem;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 400px;
    }
  }

}
