@charset "utf-8";
@use "../global" as *;

$useCode: false;
@if $useCode {}
// @include mq(pc) {}
// @include mq(sp) {}
// @media only screen and (max-width: 1200px)
// @include mq(hover) {}
// background: rgba(0,0,0,0.1);

/* ============================================
// お仕事紹介
// ==========================================*/
.lower-jobs {

  .jobs {
    background-color: $bg-color;
    padding-top: 80px;
    padding-bottom: 140px;
    position: relative;
    @media only screen and (max-width: 1200px) {
      padding-bottom: 110px;
    }
    @include mq(sp) {
      padding-top: 48px;
      padding-bottom: 64px;
    }

    .dot {
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translate(-50%,-50%);
      &__item {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #222;
        display: inline-block;

        &:nth-child(2) {
          background-color: $secondary-color;
        }
      }
    }

    &__inner {

    }

    &__anchorList {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1100px;
      margin: -8px auto;

      &__item {
        margin: 8px 10px;
        @include mq(sp) {
          margin: 6px 8px;
        }

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-right: 20px;
          border-bottom: 1px solid #222526;
          color: $txt-color;
          font-size: 1.6rem;
          @include mq(sp) {
            font-size: 1.4rem;
            padding-right: 5px;
          }

          // icon downarrow_pink
          &:after {
            content: '';
            display: inline-block;
            background-image: url(../img/jobs/ico_downarrow_pink.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 10px;
            height: 6px;
            margin-left: 16px;
            @include mq(sp) {
              margin-left: 5px;
            }
          }
        }
      }
    }
    &__blockList {
      margin-top: 40px;
      @include mq(sp) {
        margin-top: 36px;
      }

      &__item {
        background-color: #fff;
        border-radius: 30px;
        padding: 56px 6.25% 60px;
        overflow: hidden;
        margin-top: 60px;
        @include mq(sp) {
          border-radius: 20px;
          padding: 32px 7.2% 40px;
          margin-top: 32px;
        }

        &:first-child {
          margin-top: 0;
        }

        .head {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 3.4rem;
            font-weight: 500;
            line-height: 1.6;
            @include mq(sp) {
              font-size: 2rem;
            }

            &::first-letter {
              color: $secondary-color;
            }
          }

        }
        .body {
          margin-top: 48px;
          @include mq(sp) {
            margin-top: 20px;
          }

          .main {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            @include mq(sp) {
              display: block;
            }

            &__img {
              flex: 0 0 31.4%;
              max-width: 470px;
              margin-right: 4.2%;
              @include keepAspect(66.6%);

              img {
                border-radius: 30px;
                @include mq(sp) {
                  border-radius: 20px;
                }
              }
            }
            &__desc {
              flex: 1 1 auto;
              @include mq(sp) {
                margin-top: 16px;
              }
            }
          }
          .point {
            margin-top: 28px;
            background-color: #fff7fc;
            border-radius: 20px;
            padding: 28px 4% 24px;
            @include mq(sp) {
              margin-top: 24px;
              padding: 24px 7.2% 24px;
            }

            &__ttl {
              line-height: 1.6;
              font-weight: bold;
              font-size: 1.8rem;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              @include mq(sp) {
                font-size: 1.6rem;
                align-items: center;
              }

              // icon megaphone_pink
              &::before {
                content: '';
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(../img/jobs/ico_megaphone_pink.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 17px;
                margin-right: 16px;
                margin-top: 4px;
                @include mq(sp) {
                  margin-top: 0;
                  margin-right: 12px;
                }
              }
            }
            &__desc {
              margin-top: 8px;
            }
          }
          .oneday {
            margin-top: 32px;

            &__ttl {
              line-height: 1.6;
              font-weight: bold;
              font-size: 1.8rem;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              @include mq(sp) {
                font-size: 1.6rem;
              }

              // icon timer_blue
              &::before {
                content: '';
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(../img/jobs/ico_timer_blue.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 19px;
                height: 23px;
                margin-right: 12px;
                margin-top: 2px;
                @include mq(sp) {
                  margin-top: 0;
                  margin-right: 10px;
                }
              }
            }
            &__swiper {
              width: 230px;
              height: 100%;
              margin-top: 16px;
              position: relative;

              &-slide {
                height: auto;
                background-color: #f4fbfd;
                border-radius: 20px;
                padding: 20px 20px 24px;
                text-align: center;
                position: relative;

                &:first-child {
                  &:after {
                    content: '';
                    display: inline-block;
                    width: 50%;
                    height: 10px;
                    background-color: #f4fbfd;
                    position: absolute;
                    top: 32px;
                    left: 0;
                  }
                }
                &:last-child {
                  &::before {
                    width: 99%;
                  }
                  &:after {
                    content: '';
                    display: inline-block;
                    width: 50%;
                    height: 10px;
                    background-color: #f4fbfd;
                    position: absolute;
                    top: 32px;
                    right: 0;
                  }
                }

                // 破線
                &::before {
                  content: '';
                  display: inline-block;
                  width: calc(100% + 20px);
                  height: 2px;
                  background-image :
                    linear-gradient(to right, #22aadd, #22aadd 2px, transparent 2px, transparent 4px);
                  background-size: 4px 2px;
                  background-position: left top;
                  background-repeat: repeat-x;
                  position: absolute;
                  top: 36px;
                  left: 1px;
                }

                .time {
                  background-color: #22aadd;
                  color: #fff;
                  border-radius: 100px;
                  display: inline-block;
                  padding: 2px 16px;
                  position: relative;
                  z-index: 2;
                }
                .task {
                  font-size: 1.6rem;
                  line-height: 1.6;
                  margin-top: 16px;
                  @include mq(sp) {
                    font-size: 1.5rem;
                  }
                }
              }
              &-accesories {
                width: 100vw;
                margin-top: 24px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @include mq(sp) {
                  margin-top: 16px;
                }
              }
              &-button {
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                margin-right: 60px;
                @include mq(sp) {
                  margin-right: 32px;
                }

                &-prev,
                &-next {
                  background-image: url(../img/jobs/ico_swiperbtn.png);
                  background-size: contain;
                  width: 25px;
                  height: 25px;
                  position: relative;
                  top: auto;
                  left: auto;
                  right: auto;
                  margin-top: 0;

                  &:after {
                    content: none;
                  }
                }
                &-prev {
                  transform: scale(-1,1);
                  margin-right: 8px;
                }
              }
              &-pagination {
                position: relative;
                width: 900px;
                height: 1px;
                background-color: #d9d9d9;
                @media only screen and (max-width: 1200px) {
                  width: 660px;
                }
                @include mq(sp) {
                  width: 184px;
                }

                .swiper-pagination-progressbar-fill {
                  background-color: #22aadd;
                }
              }
            }
          }
        }
        .btnWrap {
          margin-left: 56px;
          @include mq(sp) {
            margin-left: 0;
            margin-top: 32px;
          }
        }
      }
    }
  }

}
