@charset "utf-8";
@use "../global" as *;

$useCode: false;
@if $useCode {}
// @include mq(pc) {}
// @include mq(sp) {}
// @include mq(hover) {}
// background: rgba(0,0,0,0.1);


/* ============================================
// btn
// ==========================================*/
// btn base
%btn-base {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 1em 2em;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity 0.3s;

	@include mq(hover) {
		&:hover {
			opacity: 0.7;
		}
  }
}


// custom setting
.btn-white {
    @extend %btn-base;
    background-color: #fff;
    color: $txt-color;
    transition: 0.3s !important;
    &.-l {
      font-size: 1.8rem;
      @include mq(sp) {
        font-size: 1.4rem;
      }
    }
    &.-border {
      background-color: transparent;
      color: #fff;
      border: 1px solid;
    }
    @include mq(hover) {
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: $accent-color;
      }
      &.-l {
        &:hover {
          background-color: rgba(255,255,255,0.1);
        }
      }
    }
}
.btn-primary {
  @extend %btn-base;
  background-color: $primary-color;
  color: #fff;
  transition: 0.3s !important;
  &.-l {
    font-size: 1.8rem;
    @include mq(sp) {
      font-size: 1.5rem;
    }
  }
  &.-border {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid;
  }
  @include mq(hover) {
    &:hover {
      opacity: 1;
      color: #fff;
      background-color: $accent-color;
    }
  }
}
.btn-secondary {
  @extend %btn-base;
  position: relative;
  width: 236px;
  margin: 0 auto;
  padding: 1.2em 2em;
  background-color: #fff;
  border-radius: 3px;
  font-weight: normal;
  color: $txt-color;
  transition: 0.3s !important;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    width: 17px;
    height: 14px;
    margin-top: -7px;
    background: url(../img/ico-arrow1-emerald.png) no-repeat center center / contain;
    @include mq(sp) {
      width: 17px *0.7;
      height: 14px *0.7;
    }
  }


}

.btn-grad {
  @extend %btn-base;
  // background-color: $primary-color;
  background-color: transparent;
  color: #fff;
  transition: 0.3s !important;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    background: linear-gradient(90deg, rgba(38, 173, 223,1) 0%, rgba(38, 133, 223,1) 50%, rgba(38, 173, 223,1) 100%);
    background-size: 200% 100%;
    transition: 0.3s !important;
  }
  @include mq(hover) {
    &:hover {
      opacity: 1;
      &::after {
        background-position: right center;
      }
    }
  }
  &.-l {
    font-size: 1.8rem;
    @include mq(sp) {
      font-size: 1.5rem;
    }
  }
  &.-round {
    border-radius: 300px;
  }
  &.-reverse {
    flex-direction: row-reverse;

    &.btn-grad {
      .ico {
        margin-left: 0;
        margin-right: auto;
        transform: scale(-1,1);
      }
    }
  }
  &.-deepBlue {
    &:after {
      background: #0338b3;
    background: linear-gradient(90deg, #0338b3 0%, #032983 50%, #0338b3 100%);
    background-size: 200% 100%;
    }
    @include mq(hover) {
      &:hover {
        opacity: 1;
        &::after {
          background-position: right center;
        }
      }
    }
  }

  .ico {
    position: relative;
    z-index: 3;
    display: block;
    margin-left: auto;
    &.-arrow {
      width: 13px;
      height: 2px;
      background-color: #fff;
      @include mq(sp) {
        transform: scale(0.7);
        transform-origin: right center;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 7px;
        height: 7px;
        border: 2px solid #fff;
        border-left: none;
        border-bottom: none;
        transform: translateY(-50%) rotate(45deg);
      }
    }
    &.-lenz {
      width: 16px;
      height: 16px;
      background: url(../img/ico-lenz-white.png) no-repeat center center / contain;
    }
  }
  .text {
    position: relative;
    z-index: 3;
  }

}


.btn-border {
  @extend %btn-base;
  border: 1px solid;
  color: $txt-color;
  .ico {
    position: relative;
    display: block;
    margin-left: auto;
    &.-arrow {
      width: 13px + 4px;
      height: 1px;
      background-color: $txt-color;
      @include mq(sp) {
        width: 13px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        right: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2.5px 0 2.5px 4px;
        border-color: transparent transparent transparent $txt-color;
      }
    }
    &.-lenz {
      width: 16px;
      height: 16px;
      background: url(../img/ico-lenz-mono.png) no-repeat center center / contain;
    }
  }

  &.-shadow {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(7px,7px);
      width: 100%;
      height: 100%;
      border: 1px solid;
      border-left: none;
      border-top: none;
      pointer-events: none;
      transition: transform 0.3s , opacity 0.3s;
    }
    @include mq(hover) {
      transition: 0.3s;
      &:hover {
        opacity: 1;
        // background-color: #eee;
        background-color: rgba(0,0,0,0.05);
        &::before {
          transform: none;
          opacity: 0;
        }
      }
    }
  }

  &.-pageBack {
    flex-direction: row-reverse;
    .ico {
      margin-left: 0;
      margin-right: auto;
      transform: scale(-1,1);
    }
  }

  &.-white {
    color: #fff;
    .ico {
      &.-arrow {
        background-color: #fff;
        &::before {
          border-color: transparent transparent transparent #fff;
        }
      }
    }
  }
}


// text link base
%btn-link01 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $txt-color;
  font-weight: bold;
  .icon {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    @include mq(sp) {
      margin-left: 10px;
      transform: scale(0.8);
      transform-origin: right center;
      margin-left: 5px;
    }
    &::after {
      content: "";
      display: block;
      background-color: $primary-color;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: 0.3s;
    }
    .ico {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 5;
      display: block;
      width: 12px;
      height: 2px;
      background-color: #fff;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 7px;
        height: 7px;
        border: 2px solid #fff;
        border-left: none;
        border-bottom: none;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  .text {
    font-size: 1.5rem;
    @include mq(sp) {
      font-size: 1.3rem;
    }
  }
  &:hover {
    opacity: 1;
    @include mq(hover) {
      .icon {
        &::after {
          transform: scale(1.2);
        }
      }
    }
  }
}
.btn-link01 {
  @extend %btn-link01;
}


// text link base
%btn-link-ico01 {
  position: relative;
  .ico {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    @include mq(sp) {
      width: 40px;
      height: 40px;
    }
    &::before {
      content: "";
      position: relative;
      z-index: 1;
      width: 17px;
      height: 14px;
      background: url(../img/ico-arrow1-white.png) no-repeat center center / contain;
      @include mq(sp) {
        width: 17px *0.7;
        height: 14px *0.7;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $txt-color;
      border-radius: 50%;
      transition: transform 0.3s , background 0.3s;
    }
  }
}
.btn-link-ico {
  @extend %btn-link-ico01;
}
