@charset "utf-8";
@use "../global" as *;

$useCode: false;
@if $useCode {}
// @include mq(pc) {}
// @include mq(sp) {}
// @include mq(hover) {}
// background: rgba(0,0,0,0.1);


//* ============================================
// FORM
// ==========================================*/
body.iPhone {
    //iPhone sp フォームパーツのズーム回避
    select,
    input ,
    textarea {
        font-size: 16px !important;
    }
}
/* RESET */
input,
button,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}
input[type='checkbox'] {
	display: none;
}
input[type='submit'],
label,
select {
	cursor: pointer;
}
select::-ms-expand {
	display: none;
}
input[type="search"] {
	box-sizing: border-box;
	-webkit-appearance: none;
	&::-webkit-search-decoration {
		display: none;
	}
}
select,
input {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	&[type="text"],
	&[type="search"] {
		cursor: auto;
	}
}

/* FORM_BLOCK */
.form_block_wrap {
    // counter-reset: formBlock_num 0;
}
.form_block {
	position: relative;
    &:not(.form_end) {
        background-color: rgba(255,255,255,0.7);
        border: 1px solid $border-color;
    }
	&:not(:first-child) {
        margin-top: 20px;
        @include mq(sp) {
            margin-top: 15px;
        }
	}

    &:nth-child(1) {        .hd {            color: #022983;        }    }
    &:nth-child(2) {        .hd {            color: #ff9933;        }    }
    &:nth-child(3) {        .hd {            color: #edc12d;      }    }
    &:nth-child(4) {        .hd {            color: #22aadd;      }    }
    &:nth-child(5) {        .hd {            color: #74c270;        }    }
    &:nth-child(6) {        .hd {            color: #eeaadf;       }    }
	.hd {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 10px;
        transform: translateY(-50%);
        display: inline-block;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 2px 10px;
        line-height: 1;
        background-color: #fff;
        @include mq(sp) {
            font-size: 1.1rem;
        }
	}

	/* FORM */
	.select_form {
		position: relative;
		&::before {
            content: '';
			display: block;
			position: absolute;
            z-index: 1;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 36px;
            height: 36px;
            background-color: $bg-beige-color;
            pointer-events: none;

            transition: 0.3s;
            @include mq(sp) {
                width: 30px;
                height: 100%;
                right: 0;
            }
		}
        &::after {
            content: '';
            z-index: 2;
			display: block;
			position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%) scale(1 , -1);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 3px 6px 3px;
            border-color: transparent transparent $txt-color transparent;
            pointer-events: none;
            @include mq(sp) {
                right: 12px;
            }
        }
		select {
            position: relative;
            width: 100%;
			display: block;
			padding: 10px 20px;
            color: $txt-color;
		}

		& + .selCity-box {
			// margin-top: 8px;
            // padding: 10px 20px;
            border-top: 1px dashed #ddd;
            .selCity_alert {
                color: $primary-color;
                font-weight: bold;
            }
		}
	}
	.check_box {
        padding: 12px 20px;
        &.-image {
            li {
                label {
                    span {
                        position: absolute;
                        z-index: 5;
                        top: 0;
                        left: 0;
                        background: transparent;
                    }
                }
                .img {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    top: auto;
                    left: auto;
                    width: 100%;
                    height: 48px;
                    background-color: #ddd;
                    margin-right: 0;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        height: 100%;
                        border: 1px solid #eee;
                        transition: 0.3s;
                    }
                    img {
                        position: relative;
                        z-index: 0;
                        display: block;
                        max-width: inherit;
                        margin: 0;
                        width: auto;
                        height: 100%;

                        transition: opacity 0.3s;
                        // transition: 0.3s;
                    }
                }
            }
        }
		.err {
			color: #e11;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
            margin-top: -3px;
		}
        li {
            position: relative;
            margin-right: 20px;
            line-height: 1.7;
            // background-color: #eee;
            margin-top: 3px;
            // white-space: nowrap;
            @include mq(hover) {
                &:hover {
                    label {
                        color: #888;
                    }
                    img {
                        opacity: 0.8;
                    }
                }
            }
            @include mq(sp) {
                margin-top: 3px;
                margin-right: 15px;
            }
            input[type="checkbox"] {
                &:checked + label {
                    // background-color: $primary-color;
                    // color: #fff;
                    .checkIco {
                        // background-color: $third-color;
                        background-color: $fourth-color;
                        &::before,
                        &::after {
                            opacity: 1;
                        }
                        &::before {
                            transform: rotate(55deg);
                        }
                        &::after {
                            transform: rotate(45deg);
                            transition-delay: .1s;
                        }
                    }
                    .img {
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            z-index: 1;
                            width: calc(100% + 6px);
                            height: calc(100% + 6px);
                            border-color: $fourth-color;
                        }
                    }
                }
            }
            label {
                display: block;
                position: relative;
                // padding: 8px 15px;
                // border: 1px solid $border-color;
                // border-radius: 3px;
                color: $txt-color;
                transition: 0.3s;
                .checkIco {
                    position: relative;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    margin-right: 6px;
                    margin-bottom: -2px;
                    background: #fff;
                    // border: 1px solid #ddd;
                    background-color: #ddd;
                    &::before,
                    &::after {
                        content: '';
                        // background: $primary-color;
                        background: #fff;
                        display: block;
                        opacity: 0;
                        position: absolute;
                        z-index: 10;
                    }
                    &::before {
                        width: 4px;
                        height: 2px;
                        top: 7px;
                        left: 3px;
                        transform: rotate(55deg) scaleX(0);
                        transform-origin: center top;
                        transition: 0.15s;
                    }
                    &::after {
                        width: 2px;
                        height: 10px;
                        top: 1px;
                        left: 4px;
                        transform: rotate(45deg) scaleY(0);
                        transform-origin: center bottom;
                        transition: 0.2s;
                    }
                }
            }

            a {
                color: $txt-color;
            }
        }
	}
    .selCity_alert {
        display: block;
        // padding: 12px 20px;
        margin-top: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text_form {
        input {
            width: 100%;
            height: 100%;
            display: block;
            &[type="search"] {
                padding: 12px 20px;
                &::placeholder {
                    color: #aaa;
                }
            }
        }
    }
    &.form_end {
        position: relative;
        margin-top: 40px;
        @include mq(sp) {
            margin-top: 30px;
            padding-left: 7%;
            padding-right: 7%;
        }
    }
    .submit_form {
        position: relative;
        z-index: 5;
        max-width: 260px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include mq(sp) {
            max-width: 200px;
        }
        @include mq(hover) {
            &:hover {
                &::after {
                    transform: none;
                    opacity: 0;
                }
            }
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background: url(../img/ico-lenz-white.png) no-repeat center center / contain;
        }
        input {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 1.6rem;
            font-weight: bold;
            padding: 1em 2em;
            color: #fff;
            text-align: left;
            cursor: pointer;
            text-align: center;

            background: $third-color;
			background: linear-gradient(90deg, rgba(lighten($third-color ,10%),1) 0%, rgba(lighten($third-color , 0%),1) 50%, rgba(lighten($third-color ,10%),1) 100%);
			background-size: 200% 100%;
            border-radius: 150px;
			@include mq(hover) {
				&:hover {
					opacity: 1;
					background-position: right center;
				}
			}
            @include mq(sp) {
                font-size: 1.4rem;
                padding: 1em 1.5em;
                background-color: rgba(255,255,255,0.5);
            }
        }
    }
    .bg_text {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transform: translate(-25%,-50%);
        margin-top: 0.05em;
        color: #000;
        font-size: 30rem;
        font-family: $crimson;
        line-height: 1;
        opacity: 0.04;
        @include mq(pc) {
        }
        @media (max-width: 1260px) and (min-width: 835px) {
            font-size: 26rem;
        }
        @include mq(sp) {
            font-size: 33vw;
            transform: translateY(-50%);
            margin-top: 10vw;
        }
    }
}

@include mq(hover) {
    select,
    input {
        transition: 0.3s;
        &:hover {
            background-color: $bg-color;
            // background-color: $bg-color !important;
            // border: 1px solid $bg-color !important;
            // box-shadow: 0 0 10px rgba(0,0,0,0.1);

        }
    }
    .select_form {
        &:hover {
            &::before {
                background-color: #fff;
            }
        }
    }
}
